<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.aci.movie"
    xmlns:android="http://schemas.android.com/apk/res/android">

   <!--Based on  https://github.com/3pillarlabs/rx_android_workshop-->

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.aci.movie.MovieApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.aci.movie.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aci.movie.MovieDetailActivity">
        </activity>
    </application>

</manifest>
